*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 500vh;
    background: linear-gradient(to bottom, #000 0%, #000 20%, #fff 20%, #fff 100%);
    overflow-x: hidden;
}
  
.container{
    max-width: 1100px;
    width: 100%;
    height: 95vh;
    margin: 0 auto;
    background-color: #000000;
}
  
.top__part{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 70px;
}

.top__part__item{
    color: #8B8E99;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    font-family: Poppins;
    font-weight: 100;
    font-size: 10px;
    line-height: 70%;
    letter-spacing: 0%;
    .mohid__parent{
        position: relative;
    }
    .Mohid{
        left: 23%;
        color: white;
        position: absolute;
    }
    img {
        width: 30px; /* yoki kerakli px */
        height: auto;
      }    
}

.card__part{
    margin-top: 10px;
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    .text__part{
        position: relative;
        display: flex;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        h1{
            font-family: Poppins;
            font-weight: 700;
            font-size: 64px;
            line-height: 125%;
            letter-spacing: 0%;
            color:#FFFFFF
        }
        p{
            font-family: Poppins;
            font-weight: 500;
            font-size: 16px;
            text-align: justify;
            line-height: 110%;
            letter-spacing: 0%;
            color: #8B8E99
        }  
        input{
            position: absolute;
            background-color: transparent;
            color: black;
            border: none;
            padding: 20px 10px;
            width: 50%;
            font-size: 15px;
        }
        i{  
            width: 30px; 
            height: auto;
            color: #000;
            position: absolute;
            left: 5%;
        }
        button{
            position:absolute;
            width: 25%;
            height: 70%;
            right: 5%;
            font-size: 20px;
            border: none;
            border-radius: 5px 5px 5px 5px;
            background-color: rgb(114, 114, 199);
            color: white;
        }
        .input__part{
            position: absolute;
            width: 90%;
            height: 7%;
            background-color: #ffffff;
            border-radius:  15px 15px 15px 15px;
            top: 75%;
            left: 0%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10;
        }
    }
    .img__part{
        width: 50%;
        height: 100%;
        display: grid;
        place-items: center;
    }
}

.main__container{
    margin-top: 21.5px;
    width: 100%;
    height: 40vh;
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    .main__items{
        width: 40%;
        height: 75%;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5px;
        border-radius: 15px 15px 15px 15px ;
        background-color: rgb(240, 240, 240);
        border: none;
        img{
            padding: 30px
        }
        .txt{
            padding: 20px;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            h1{
                font-family: Poppins;
                font-weight: 700;
                font-size: 34px;
                line-height: 125%;
                letter-spacing: 0%;
                color:#000000
            }
            p {
                font-family: Poppins;
                font-weight: 400;
                font-size: 16px;
                text-align: justify;
                text-align: left;
                line-height: 1.5;
                letter-spacing: -0.2px;
                color: #8B8E99;
            }         
        }
    }
}

.product__wrapper{
    margin-top: 100px;
    width: 100%; 
    height: 130vh; 
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    .product__title{
        margin-top: 0px;
        display:flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            font-family: Poppins;
            font-weight: 700;
            font-size: 35px;
            line-height: 125%;
            letter-spacing: 0%;
            color:#000000
        }
        p{
            font-family: Poppins;
            font-weight: 700;
            font-size: 15px;
            line-height: 125%;
            letter-spacing: 0%;
            color:#4823ad
        }
    }
    .product__item{
        margin-top: 0px;
        width: 100%;
        height: 100%;
        gap: 110px;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        .product__i{
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 15px 15px 15px 15px;
            background-color: rgb(240, 240, 240);
            padding: 20px;
            .txt{
                display:flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                h1{
                    font-family: Poppins;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 125%;
                    letter-spacing: 0%;
                    color:#000000
                }
                h2{
                    font-family: Poppins;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 125%;
                    letter-spacing: 0%;
                    color:#000000
                }
                .price{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    gap: 10px; 
                    h2{
                        font-family: Poppins;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 125%;
                        letter-spacing: 0%;
                        color:#000000
                    }
                    h1{
                        font-family: Poppins;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 125%;
                        letter-spacing: 0%;
                        text-decoration: line-through;
                        color:#000000;
                        opacity: 50%;
                    }
                }
            }
        }
    }
    button {
        width: 17%;
        height: 100px;
        background-color: rgb(43, 67, 163);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 15px 15px 15px 15px;
        font-size: 15px;
    }
        
    
}

.about__wrapper{
    margin-top: 90px;
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    gap: 40px; 
    .about__title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        width: 100%;
        height: 10vh;
        h1{
            font-family: Poppins;
            font-weight: 700;
            font-size: 35px;
            line-height: 125%;
            letter-spacing: 0%;
            color:#000000
        }
        p{
            font-family: Poppins;
            font-weight: 700;
            font-size: 15px;
            line-height: 125%;
            letter-spacing: 0%;
            color:#4823ad
        }

    }
    .about__users{
        width: 100%;
        height: 40vh;
        background-color: #ffffff;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: row;
        gap: 30px;
        position: relative;
        .user__item{
            width: 45%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 20px;
            background-color: rgb(240, 240, 240);
            border-radius: 15px 15px 15px 15px;
        }
        .u__i{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            h1{
                font-family: Poppins;
                font-weight: 700;
                font-size: 25px;
                line-height: 125%;
                letter-spacing: 0%;
                color:#000000
            }
            p {
                font-family: Poppins;
                font-weight: 400;
                font-size: 15px;
                text-align: justify;
                text-align: left;
                line-height: 1.5;
                letter-spacing: -0.2px;
                color: #8B8E99;
            }
        }
        .pagination{
            position: absolute;
            left: 46%;
            top: 90%;
            color: #8B8E99;
        }
    }
    .about__new{
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        background-color: rgb(240, 240, 240);
        gap: 30px; 
        .text__part{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            background-color: rgb(240, 240, 240);
            gap: 10px; 
            h1{
                font-family: Poppins;
                font-weight: 700;
                font-size: 35px;
                line-height: 125%;
                letter-spacing: 0%;
                color:#000000
            }
            p {
                font-family: Poppins;
                font-weight: 400;
                font-size: 15px;
                text-align: justify;
                text-align: left;
                line-height: 1.5;
                letter-spacing: -0.2px;
                color: #8B8E99;
            }
            .input__part{
                width: 70%;
                height: 15%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                gap: 20px; 
                background-color: #fafafa;
                border-radius: 15px 15px 15px 15px;
                input{
                    width: 60%;
                    height: 40%;
                    border: none;
                    background-color: #fafafa;
                    outline: none;
                    font-size: 15px;
                    font-family: Poppins;
                }
                button{
                    width: 25%;
                    height: 70%;
                    border-radius: 15px 15px 15px 15px;
                    border:none;
                    color: #fff;
                    background-color: #4823ad;
                    font-size: 15px;
                    font-family: Poppins;
                }
            }
        }
    }
}

.footer__wrapper{
    background-color: #000;
    width: 100%;
    height: 10vh;
    color: #fff;
    display: grid;
    place-items: center;
    font-family: sans-serif;
}
